{% extends 'doortodoor/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-1">
        <div class="col-md-5 col-sm-12 p-4 text-center">
            <h1>Livraison Ajoutée!</h1>
            <p>Vous devriez bientôt recevoir un mail de confirmation.</p>
            <a href="{% url 'ajouter' %}">Ajouter un Autre Article</a>
            <a> ou</a>
            <a href="{% url 'index' %}">Aller a l'Accueil</a>
        </div>
    </div>
    <div class="row justify-content-center mt-2">
        <div class="col-md-5 col-sm-12 text-center">
            <h3 class="pb-2">Merci  {{ user }}</h3>
            <div class="alert alert-warning" role="alert">
                <!--h4>Merci  {{ user }}</h4-->
                <h4>Client a Livré: <small class="text-muted pl-3"> {{ nom_client }}</small></h4>
                <h4>A l'Adresse: <small class="text-muted pl-3"> {{ adresse }}</small></h4>
            <!--span>{{ items }}</span-->
            <h5 class="font-weight-bold pt-4">Contact: {{ contact_client }}</h5>
        </div>
    </div>
</div>

    <!--div class="row justify-content-center ">
        <div class="col-md-6 text-center">
            <h3>Pay now or at delivery</h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <div id="paypal-button"></div>
        </div>
    </div>
</div>

<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script>
  paypal.Button.render({
    // Configure environment
    env: 'sandbox',
    client: {
      sandbox: 'demo_sandbox_client_id',
      production: 'demo_production_client_id'
    },
    // Customize button (optional)
    locale: 'en_US',
    style: {
      size: 'large',
      color: 'blue',
      shape: 'pill',
    },

    // Enable Pay Now checkout flow (optional)
    commit: true,

    // Set up a payment
    payment: function(data, actions) {
      return actions.payment.create({
        transactions: [{
          amount: {
            total: '{{ price }}',
            currency: 'USD'
          }
        }]
      });
    },
    // Execute the payment
    onAuthorize: function(data, actions) {
      return actions.payment.execute().then(function() {
        // Show a confirmation message to the buyer
        window.alert('Thank you for your purchase!');
      });
    }
  }, '#paypal-button');

</script-->
{% endblock content %}