{% extends 'doortodoor/base.html' %}
 
{% block content %}
<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="card col-md-5 mr-3">
            <h4 class="text-center pt-2">Montant Total</h4>
            <h1 class="text-center" style="color:teal;">{{ montant_total }} F CFA</h1>
        </div>

        <div class="card col-md-5 mr-3">
            <h4 class="text-center pt-2">Nombre de Livraison</h4>
            <h1 class="text-center pt" style="color: red;">{{ total_livraison }}</h1>
        </div>
    </div> 
    <div class="row justify-content-center">
        <div class="col-md-12 mt-5">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        
                        <th scope="col">ID</th>
                        <th scope="col">Ajouté le</th>
                        <th scope="col">Ajouté par</th>
                        <th scope="col">Article</th>
                        <th scope="col">Nom client</th>
                        <th scope="col">Prix Livraison</th>
                        <th scope="col">Statut</th>
                        <th scope="col"></th>
                        <!--th scope="col">Modifier</th-->
                    </tr>
                </thead>
                <tbody>
                    {% for ship in livraison %}
                    <tr>
                        <th scope="row">{{ ship.livraison_id }}</th>
                        <td>{{ ship.date_ajout }}</td>
                        <td>{{ ship.article_added_by }}</td>
                        <td>{{ ship.libelle_article }}</td>
                        <td>{{ ship.nom_client }}</td>
                        <td>{{ ship.prix_livraison }}</td>
                        <td>
                            {% if ship.statut == "livré"%}
                            <i style="color: green;" class="fas fa-check"></i>
                            {% elif ship.statut == "en cours" %}
                            <i style="color: rgb(14, 13, 12);" class="fas fa-ellipsis-h"></i>
                            {% elif ship.statut == "retour" %}
                            <i style="color: red;" class="fas fa-times"></i>
                            {% endif %}
                        </td>
                        <td>
                            {% if ship.statut == "livré" %}
                            <a href="{% url 'modifier-livraison' ship.livraison_id %}"><i class="fas fa-exchange-alt"></i></a>
                            {% elif ship.statut == "en cours" %}
                            <a href="{% url 'modifier-livraison' ship.livraison_id %}"><i class="fas fa-exchange-alt"></i></a>
                            {% elif ship.statut == "retour" %}
                            <a href="{% url 'modifier-livraison' ship.livraison_id %}"><i class="fas fa-exchange-alt"></i></a>
                            {% endif %}
                        </td>
                        <td>
                            {% if ship.statut == "livré" %}
                            <a href="{% url 'livraison-details' ship.livraison_id %}"><i class="far fa-edit"></i></a>
                            {% elif ship.statut == "en cours" %}
                            <a href="{% url 'ajout-livraison' ship.livraison_id %}"><i class="far fa-edit"></i></a>
                            {% elif ship.statut == "retour" %}
                            <a href="#"><i class="far fa-edit"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}