{% extends 'doortodoor/base.html' %}
 
{% block content %}
<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="card col-md-5 mr-3">
            <h4 class="text-center pt-2">Nombre de Livraison</h4>
            <h1 class="text-center pt" style="color: red;">{{ total_livraison }}</h1>
        </div>
    </div> 
    <div class="row  mt-3 justify-content-end">
        <div class="col-md-3 col-sm-6">
            <form method="GET" action="{% url 'retour-search' %}">
                <div class="md-form mt-0 active-cyan-2">
                    <input type="month" name="q" class="form-control" aria-label="Search" required value="{{ request.GET.q }}">
                    <button type="submit" class="btn btn-dark" data-toggle="modal">
                        Rechercher
                    </button>
                    <a href="{% url 'liste-retour' %}">Retour</a>
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-12">
            <table class="table table-hover table-striped  table-bordered " style="text-align: center;">
                <thead>
                    <tr>
                        
                        <th scope="col">ID</th>
                        <th scope="col">Date Ajout</th>
                        <th scope="col">Ajouté par</th>
                        <th scope="col">Modifé par</th>
                        <th scope="col">Article</th>
                        <th scope="col">Nom client</th>
                        <th scope="col">Contact</th>
                        <th scope="col">Statut</th>
                        {% if request.user.groups.all.0.name != "Employes" %}
                        <th colspan="2">Edit</th>
                        {% endif %}
                        
                        <!--th scope="col">Modifier</th-->
                    </tr>
                </thead>
                <tbody>
                    {% for ship in livraison %}
                    <tr>
                        <th scope="row">{{ ship.livraison_id }}</th>
                        <td>{{ ship.date_ajout }}</td>
                        <td>{{ ship.article_added_by }}</td>
                        <td>{{ ship.livraison_modified_by  }}</td>
                        <td>{{ ship.libelle_article }}</td>
                        <td>{{ ship.nom_client }}</td>
                        <td>{{ ship.contact_client }}</td>
                        <td>
                            {% if ship.statut == "livré"%}
                            <i style="color: green;" class="fas fa-check"></i>
                            {% elif ship.statut == "en cours" %}
                            <i style="color: rgb(14, 13, 12);" class="fas fa-ellipsis-h"></i>
                            {% elif ship.statut == "retour" %}
                            <i style="color: red;" class="fas fa-times"></i>
                            {% endif %}
                        </td>
                        
                            {% if request.user.groups.all.0.name == "Livreurs" %}
                            <td>
                            <a href="{% url 'modifier-livraison' ship.livraison_id %}"><i class="fas fa-exchange-alt"></i></a>
                            </td>

                            {% elif request.user.groups.all.0.name == "Clients" %}
                            <td>
                            <a href="{% url 'update' ship.id_article %}"><i class="far fa-edit"></i></a>
                            {% endif %}
                            </td>

                            {% if request.user.groups.all.0.name == "Admin" %}
                            <td>
                                <a href="{% url 'update' ship.id_article %}"><i class="far fa-edit"></i></a>
                            </td>
                            <td>
                                <a href="{% url 'modifier-livraison' ship.livraison_id %}"><i class="fas fa-exchange-alt"></i></a>
                            </td>
                            {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <button type="submit" class="btn btn-dark"  onClick="window.print()">Imprimer
        </button>
        <button id="btnExport" type="submit" class="btn btn-light" onclick="exportReportToExcel(this)">Excel</button>
    </div>
</div>
<script>
    function exportReportToExcel() {
      let table = document.getElementsByTagName("table"); // you can use document.getElementById('tableId') as well by providing id to the table tag
      let today = new Date().toISOString().slice(0, 10)
      TableToExcel.convert(table[0], { // html code may contain multiple tables so here we are refering to 1st table tag
        name: today+` Retour.xlsx`, // fileName you could use any name
        sheet: {
          name: 'Sheet 1' // sheetName
        }
      });
    }
    </script>
    
    


<div class="row justify-content-center mt-5 ml-3">
    <div class="col-md-3 col-sm-12 justify-content-center">
        {% load static %}
        <img src="{% static "doortodoor/logo.jpg" %}" class="rounded" width="300" height="250">
    </div>
    <div class="col-md-9 col-sm-12 mt-5">
        <div class="card-body">
            <h6 class="card-title">DKR EXPRESS / DOOR TO DOOR SERVICES</h6>
            <p class="card-text"><small class="text-muted">Societe Unipersonnelle a Responsabilite Limitée au capital de 250 000 F CFA <br>
                Siege Social: Cité Libasse Niang, Sud Foire Villa 2298, Dakar, Senegal <br>
                RC SN-DKR-2019-B-36077</small></P>
            
          </div>
    </div>
</div> 

{% endblock content %}