{% extends 'doortodoor/base.html' %}

{% block content %}
<div class="container">
    {% for liv in livraison %}
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12 text-center mt-3">
            <a href="{% url 'dashboard' %}" class="btn yellow btn-lg active">Retour</a>
            <h1>Livraison ID: {{ liv.livraison_id }}</h1>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12">
            <h3 class="pt-3">Information de la Livraison: </h3>
            <p><span style="font-weight: 400;">Date modification:</span>  {{ liv.date_statut }}</p>
        </div>

        <div class="col-md-6 col-sm-12">
            <h3 class="pt-3">Statut Information: </h3>
            <p class="mt-3">
                {% if liv.statut == "livré"%}
            <p>
            <i style="color: green;" class="btn btn-outline-success">{{ liv.prix_livraison }}</i>
            <i style="color: green;" class="fas fa-check"></i><span class="pl-2"> {{ liv.livraison_modified_by }}</span></p>
            {% endif %}
    {% endfor %}
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="card col-md-12">
            <div class="col-md-2">
                {% load static %}
                <img src="{% static "doortodoor/logo.jpg" %}" class="rounded" width="250" height="190">
                
            </div>
            <div class="col-md-6">
                <div class="card-body">
                <h6 class="card-title">DKR EXPRESS / DOOR TO DOOR SERVICES</h6>
                <p class="card-text"><small class="text-muted">Societe Unipersonnelle a Responsabilite Limitée au capital de 250 000 F CFA <br>
                    Siege Social: Cité Libasse Niang, Sud Foire Villa 2298, Dakar, Senegal <br>
                    RC SN-DKR-2019-B-36077</small></P>
                </div>
            </div>
        </div>
    </div> 
</div>
{% endblock content %}